<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         bootstrap="./bootstrap.php"
         verbose="true">
    <testsuite name="PayFast API HTTP Client Test Suite">
        <directory>./</directory>
    </testsuite>
    <logging>
        <log type="coverage-html" target="../build/coverage"/>
    </logging>
    <listeners>
        <listener class="VCR\PHPUnit\TestListener\VCRTestListener" file="vendor/php-vcr/phpunit-testlistener-vcr/src/VCRTestListener.php" />
    </listeners>
</phpunit>
